<form action ="/<%=@file_name%>" method="post">
	<dl>
		<dt>
			<label for="list_name">Enter content of <%=@file_name%> </label>
		</dt>

		<textarea name="content" id="content" rows="20" cols="50">
			<%=@file_data%>
		</textarea>
	</dl>
		<button type="submit" class="save" >Save Changes</button>
		<a href= "/<%=params[:id]%>">Cancel</a>
</form>