<ul>
	<% @data_files.each do |files| %>
		<li>
		<a href="<%=files %>"><%=files%></a>
			<form action="/<%=files %>/edit" method="get">
				<button type="edit">Edit</button>
			</form>
		</li>
	<%end%>
	<li> test list </li>
</ul>