<html>
	<title>CMS App</title>
	<meta charset="UTF-8">
	<link href="/stylesheets/cms.css" rel="stylesheet" type="text/css"/>
	<body>
 		<h1>Header</h1>
			<% if session[:message] %>
      			<p class="message"><%= session.delete(:message) %></p>
    		<% end %>
    	<main> 
    	<%= yield %>
    	</main>
	</body>
</html>
